a:link {
    text-decoration: none;
}

.member-box {
    /* width: 200px;
        height: 200px; */
    /* background-color: red; */
    position: relative;
    /* border: solid 1px #000000; */
    padding-top: 40px;
    padding-bottom: 50px;
    transition: 0.3s;
    cursor: pointer;
    height: 380px;
    /* border-radius: 20px; */
}

.member-box:hover {
    transform: scale(1.03);
}

.member-name-box {
    width: 100%;
    padding: 0 30px;
    /* background-color: aquamarine; */
}

.member-name {
    font-size: 2rem;
    color: black;
    text-align: center;
    margin: 0 !important;
}

.member-img-box {
    display: flex;
}

.member-img {
    object-fit: cover;
    /* padding: 10px; */
    margin: 10px auto;
    width: 200px !important;
    height: 200px !important;
}

.member-round-corners {
    border-radius: 20px !important;
}

/* Modal */
.modal-dialog {
    margin-top: 120px !important;
}
